@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes scan {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100vh);
    }
  }
}
